:root {
  --color-green: #26bba4;
  --color-purple: #6174ff;
  --color-lightgrey: #9eabb2;
  --color-darkgrey: #4c545c;
  --color-white: #ffffff;
  --color-footer: #e3ebef;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Bai Jamjuree', sans-serif;
}
.header {
  background-image: url(../assets/images/images/bg-header-mobile.png);
  background-size: cover;
  padding: 123px 12px 12px 12px;
  margin: 0;
}
.header__icon {
  width: 125px;
  height: 125px;
  margin-inline: auto;
  margin-bottom: 70px;
}
.header__title {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--color-darkgrey);
}
.header__text {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: var(--color-lightgrey);
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (width >= 768px) {
  .buttons{
    flex-direction: row;
    align-items: center;
    margin-inline: auto;
    gap: 16px;
  }
}
.button {
  width: 311px;
  height: 56px;
  border-radius: 28px;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  padding: 13px 50px 13px 50px;
  color: var(--color-white);
  margin: 12px 0 12px 0;
  margin-inline: auto;
}
@media screen and (width >= 768px) {
  .button{
    width: 227px;
    padding: 13px 40px 13px 40px;
  }
}
.button--ios {
  background-color: var(--color-green);
}
.button--mac {
  background-color: var(--color-purple);
}
.main {
  padding: 123px 32px 32px 32px;
}
.section--clipboard{
  margin-bottom: 90px;
}
.section__title{
  font-size: 1.75rem;
  color: var(--color-darkgrey);
  text-align: center;
}
.section__subtitle{
  font-size: 1.5rem;
  color: var(--color-darkgrey);
  text-align: center;
}
.section__text{
  font-size: 1rem;
  color: var(--color-lightgrey);
  text-align: center;
}
.icon{
  display: flex;
  margin-inline: auto;
  align-items: center;
}
.img{
  margin: 56px 0 56px 0;
}
@media screen and (width >= 768px) {
  .section__item--brands{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: auto;
  }
  .items{
    width: 1110px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    margin-inline: auto;
  }
}
.section__item--brands{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  width: 100%;
  margin: 132px 0 132px 0;
}
.footer{
  background-color: var(--color-footer);
  padding: 52px 0 52px 0;
}
.footer__logo{
  width: 55px;
  height: 55px;
  margin-inline: auto;
  margin-bottom: 52px;
}
.footer__text{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.footer__sm{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-top: 52px;
}